@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.skills-list {
  width: 100%; /* Set to 100% for full width */
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-item, .header-row {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #e1e1e1;
}

.header-row {
  font-weight: bold;
  background-color: #e1e1e1;
}

.skill-item:last-child {
  border-bottom: none;
}

.rank, .header-row > span:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.skill-name, .header-row > span:nth-child(2) {
  flex: 3;
}

/* Make sure other columns also have matching flex values. For simplicity, let's assume each of the other columns also takes up flex of 1 */
.header-row > span:not(:nth-child(1)):not(:nth-child(2)), 
.skill-item > span:not(.rank):not(.skill-name) {
  flex: 1;
}
